name: Go

on:
  push:
    branches: [ "main" , "packer"]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    container: seconddinner/build:0.0.1
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - run: git describe --tags --long

    - name: build golang exec
      run: cd stress-test-loader; bash ./build.sh

    - name: packer build ami
      run: pwd; ls ./cicd/ami/build-stress-test-loader.sh